h1 {color: red;
	background-color: black;	
	}

p {color: green;
	font-family: Arial; }

.menu {
color: greenyellow;
background-color: pink;
 }

.estilosinposis { color:black; background-color:blueviolet; }